.expenses__list {
  width: 100%;
  margin: 40px 0;
  border: 1px solid $color-gray;

  &--header {
    background: $color-light-gray;
    display: grid;
    padding: 20px;
    grid-template-columns: calc(100% - 270px) 150px 120px;
    grid-template-rows: auto auto auto;
    border-bottom: 1px solid $color-gray;
  }

  .header--label {
    &.with-indicator {
      display: inline-flex;
      width: auto;
      align-items: center;
      background: none;
      border: none;
      box-shadow: none;
      padding: 0;
      cursor: pointer;

      .value-indicator {
        width: 0; 
        height: 0;
        margin-left: 10px;

        &.value_ascending {
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          
          border-bottom: 5px solid black;
        }
        &.value_descending {
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          
          border-top: 5px solid black;
        }
      }
    }
  }

  &--content {
    .no-expenses-label {
      margin: 30px 0;
      text-align: center;
    }
  }
}

.expenses__list-item {
  display: grid;
  padding: 20px;
  grid-template-columns: calc(100% - 270px) 150px 120px;
  grid-template-rows: auto auto auto;
  border-bottom: 1px solid $color-gray;

  &:hover {

  }

  &:last-child {
    border-bottom: none;
  }

  .expense-item__description--wrapper {
    align-self: center;

    .expense-item__header {
      margin: 0 0 15px 0;
      font-size: 1.25em;
    }
    .expense-item__note {
      font-size: 0.875em;
      margin: 15px 0 0 0;
    }
    .expense-item__date {
      font-size: 0.5em;
      font-weight: 400;
      color: $color-gray;
    }
  }

  .expense-item__value {
    align-self: center;
  }

  .expense-item__action {
    align-self: center;
    button {
      @include button-generator($background: $color-vivid-burgundy, $color: #fff);
    }
  }
}