.expenses__summary {
  p {
    @include primaryTypeface($weight: 300);
    text-align: center;

    span {
      @include primaryTypeface($weight: 700);
    }
  }

  &--wrapper {
    margin-bottom: 40px;
  }
  &--visible {
    font-size: 2em;
    margin-bottom: 0;
  }
  &--overall-info {
    font-size: 0.875em;
    margin-bottom: 0;
    color: $color-prussian-blue;
  }
}